<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <title>Contacts</title>
  </head>
  <body>
    <header>
      <h1 id="page_title">Contacts</h1>
      <p id="page_menu">
        <a href="#">New</a>
        <a href="#">View</a>
        <a href="#">About</a>
      </p>
    </header>


    <div class="" id="page_content">
      <table>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Title</th>
        </tr>

        <tr>
          <td>Mani R</td>
          <td>+91-9535058812</td>
          <td>mani.ppr@gmail.com</td>
          <td>Main</td>
        </tr>

        <tr>
          <td>Lakshmi S</td>
          <td>+91-8660087656</td>
          <td>lakshmi779534@gmail.com</td>
          <td>Main-Jio</td>
        </tr>
      </table>

    </div>
  </body>
</html>
